<%- include('partials/headerLogueado', {dataUsuario}) %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			
			<div class="col-12 col-md-6">
				<form action="" method="GET">
					<div>
						<label class="form-label" for="">Imagen producto</label>
						<input class="form-control" type="file" name="imgProducto">
					</div>
					<div>
						<label class="form-label" for="">Título</label>
						<input class="form-control" type="text" name="titulo">
					</div>
					<div class="mb-3">
						<label class="form-label" for="">Descripción</label>
						<textarea class="form-control" name="descripcion" rows="5"></textarea>
					</div>
					

					<button class="btn btn-outline-success" type="submit">Agregar producto</button>

				</form>
			</div>


			<%- include('partials/footer') %>