<%- include('partials/headerLogueado', {dataUsuario}) %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-md-6">
				<form action="" method="GET">
					<div>
						<label class="form-label" for="">Usuario</label>
						<input class="form-control" type="text" name="usuario" value="Juan Perez">
					</div>
					<div>
						<label class="form-label" for="">Email</label>
						<input class="form-control" type="email" name="email" value="juan@gmail.com">
					</div>
					<div>
						<label class="form-label" for="">Contraseña</label>
						<input class="form-control" type="password" name="password" value="123456">
					</div>
					<div>
						<label class="form-label" for="">Fecha de nacimiento</label>
						<input class="form-control" type="date" name="fechaNacimiento" value="1990-12-12">
					</div>
					<div>
						<label class="form-label" for="">DNI</label>
						<input class="form-control" type="number" name="dni" value="45678912">
					</div>
					<div class="mb-3">
						<label class="form-label" for="">Foto de perfil</label>
						<input class="form-control" type="text" name="fotoPerfil" value="avatar.jpg">
					</div>

					<button class="btn btn-outline-success" type="submit">Editar</button>

				</form>
			</div>
		</div>
	</div>
			<%- include('partials/footer') %>